@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #030712;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
